* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f6f8;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid #ccc;
  font-size: 1rem;
  height: 3rem;
  padding-left: 1rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  color: #667eea;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 5px;
}

.select-container img {
  max-width: 2rem;
}

.select-container select {
  font-size: 1rem;
  width: auto;
  margin-left: 0.5rem;
  background: transparent;
  cursor: pointer;
}

.msg {
  margin: 2rem 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

button {
  height: 3.5rem;
  background-color: #667eea;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: #5a367e;
}